/* Importar la fuente */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

/* Contenedor principal */

/* Contenido principal */
.home-container {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
  animation: zoomIn 1s ease-in-out both;
}
/* Animación de entrada */
@keyframes zoomIn {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Video de fondo */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  
}

/* Botón de cambio de fondo */
/* ... (código anterior) ... */

/* Botón de cambio de fondo */
.change-background-button {
  display: flex;
  
  position: absolute;
  left: 2%; /* Ajusta la posición verticalmente */
  bottom: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  font-size: 1.5rem;
  font-family: 'Permanent Marker', cursive;
  color: #fcf9f9f3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%) perspective(900px) rotateX(30deg); /* Centra verticalmente */
  transition: color 0.3s, background-color 0.3s; /* Agregado efecto de transición */
}

.change-background-button:hover {
  color: #0efefe;

}






/* Contenido principal */
.start-screen {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Asegura que ocupe el 100% de la altura visible */
  animation: zoomOut 1s ease-in-out both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  pointer-events: auto;
  overflow: hidden;
  filter: none;
  transition: opacity 0.5s ease;
}
/* Estilos para el contenido principal */
.start-content {
  text-align: center;
  z-index: 1;
}

.start-content h1 {
  display: flex;
  font-size: 8rem;
  margin-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
  color: #f6f6f6f3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: perspective(900px) rotateX(30deg);
}

/* Estilos para los botones de inicio */
.start-button,
.start-button1,
.start-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://res.cloudinary.com/dvnhn35l4/image/upload/v1692066011/cartas_oecxtx.gif') center/cover no-repeat;
  top: 20px;
  opacity: 1;
  font-size: 2rem;
  width: 120px ;
  height: 200px;
  font-family: 'Permanent Marker', cursive;
  color: beige;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
  overflow: hidden;
  animation: zoomIn 1s ease-in-out both;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: perspective(900px) rotateX(30deg);
}


.start-button:hover,
.start-button1:hover,
.start-button2:hover {
  transform: scale(1.5);
  opacity: 1;
  background-size: cover;
  color: #1ebfc4f3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: perspective(900px) rotateX(30deg);
}

/* Navegación de escena */
.scene-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  animation: zoomOut 1s ease-in-out both;
  z-index: 1000;
}

/* Estilos para la batería */
.box_battery {
  transform: scale(0.23);
  width: 3rem;
}

.battery {
  height: 3.7em;
  width: 2.3em;
  background-color: transparent;
  box-sizing: border-box;
  border: 0.3em #ffffff solid;
  float: left;
  display: block;
  padding: 0;
  margin: 0 auto;
  position: absolute;
}

.battery::before {
  content: "";
  height: 0.4em;
  width: 1.1em;
  background-color: #ffffff;
  position: absolute;
  margin-top: -0.6em;
  margin-left: 0.3em;
}

.battery::after {
  content: "";
  width: 1.4em;
  position: absolute;
  margin-left: 0.2em;
  height: 1em;
  margin-top: 0.2em;
  -webkit-animation: batery 7s linear infinite;
  animation: batery 7s linear infinite;
}

/* Botón de retroceso */
.back-button-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.back-button {
  background-color: transparent;
  color: #fcf9f9f3;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  outline: none;
  font-family: 'VT323', monospace;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: perspective(900px) rotateX(30deg);
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: all 0.3s;
}

.back-button:hover {
  color: #038c90;
}


@media screen and (max-width: 768px) {
  .start-content h1 {
    display: flex;
    font-size: 2rem;
  }
  

  
 
  
}